@tailwind base;
@tailwind utilities;
@tailwind components;

#summary-sidebar {
  width: 300px;
  height: 100%;
  z-index: 1001;
  top: 0;
  right: 0;
  background: white;
  position: fixed;
  border-left: 2px solid gray;
}